<div class="row">
    <div class="col-6 m-auto">
        <div class="card m-auto">
            <div class="card-header">
                Register
            </div>
            <div class="card-body">
                <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
                    <div class="form-group col-12">
                        <label for="email" class="form-label">Name</label> 
                        <input type="text" class="form-control" formControlName="userName">
                        <span class="error-block" *ngIf="!userName?.valid && userName?.touched">
                            Name is required!
                        </span>
                    </div>
                    <div class="form-group col-12">
                        <label for="email" class="form-label">Email</label> 
                        <input type="text" class="form-control" formControlName="userEmail">
                        <span class="error-block" *ngIf="!userEmail?.valid && userEmail?.touched">
                            <span class="error-block" *ngIf="userEmail.hasError('required')">
                                Email is required!
                            </span>
                            <span class="error-block" *ngIf="userEmail.hasError('email')">
                                Please provide a valid Email
                            </span>
                        </span>
                    </div>
                    <div class="form-group col-12">
                        <label for="password" class="form-label">Password</label> 
                        <input type="password" class="form-control" formControlName="password">

                        <span class="error-block" *ngIf="!password?.valid && password?.touched">
                            <span class="error-block" *ngIf="password.hasError('required')">
                                password is required!
                            </span>
                            <span class="error-block" *ngIf="password.errors?.['minlength']">
                                Password must be atleast 8 charachters.
                            </span>
                        </span>
                       
                    </div>
                    <div class="form-group col-12">
                        <label for="cpassword" class="form-label">Confirm Password</label> 
                        <input type="password" class="form-control" formControlName="confirmPassword">
                        <span class="error-block" *ngIf="!confirmPassword?.valid && confirmPassword?.touched">
                            <span class="error-block" *ngIf="confirmPassword.hasError('required')">
                                Please confirm password!
                            </span>
                        </span>
                        <span class="error-block" *ngIf="registerationForm.hasError('notmached') && confirmPassword.valid">
                            Passwords do not match!
                        </span>
                    </div>
                    <div class="form-group col-12">
                        <label for="mobile" class="form-label">Mobile</label> 
                        <input type="text" class="form-control" formControlName="mobile">
                        <span *ngIf="!mobile.valid && mobile.touched">
                            <span class="error-block" *ngIf="mobile.hasError('required')">
                                Mobile is required!
                            </span>
                            <span class="error-block" *ngIf="mobile.hasError('maxlength')">
                                Mobile cannot be more than 14 digits.
                            </span>
                            <span class="error-block" *ngIf="mobile.hasError('pattern')">
                                not a valid mobile number
                            </span>
                        </span>
                    </div>
                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary">Register</button> 
                        <button type="reset" class="btn btn-secondary m-2">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>