    <div class="row row-cols-lg-4">
        <div class="card m-1 shadow-lg prop-card">
            <img class="prop-img" src="assets/images/house-default.jpg">
            <div class="card-body p-1">
                <h2>{{Property.name}}</h2>
                <h2>{{Property.type}}</h2>
                <h3>{{Property.price}}</h3>
            </div>
        </div>
        <div class="card m-1 shadow-lg prop-card">
            <img class="prop-img" src="assets/images/house-default.jpg">
            <div class="card-body p-1">
                <h2>{{Property.name}}</h2>
                <h2>{{Property.type}}</h2>
                <h3>{{Property.price}}</h3>
            </div>
        </div>
        <div class="card m-1 shadow-lg prop-card">
            <img class="prop-img" src="assets/images/house-default.jpg">
            <div class="card-body p-1">
                <h2>{{Property.name}}</h2>
                <h2>{{Property.type}}</h2>
                <h3>{{Property.price}}</h3>
            </div>
        </div>
    </div>
    